

body{
	overflow-x:hidden;
}


.nav_bar{
	background-color:black;
	position: fixed;
	top:0;
	z-index: 50;
	width:100%;
	padding:20px;
	box-shadow: 10px 0px 20px 10px gray;

}

.logo{
	position: fixed;
	top:-15px;
	z-index:100;
	box-shadow: 3px 3px 3px 0 gray;

}

.web_logo{
	display: inline;
	
}

.web_image{
	width:80px;
	height:100px;

}


.nav_links{
	text-align: right;
}

.nav_links_list{
	display: inline;
	padding:30px 30px;
}

.nav_links_list a{
	color:white;
	font-family: Georgia;
	font-size: 30px;
	text-decoration: none;

}



.active{
    color:#004080;
    margin:20px;
    padding:15px;

}

.section_about{
	position: absolute;
	top:110px;
	width:100%;
	box-shadow: 5px 5px 5px 0 gray;
	background-color:#004080;
}

.about{
	font-family: sans-serif;
	color:white;
	font-size: 40px;
	text-align: center;
}

.p{
	font-size: 25px;
	font-family: Lucida Console;
}



.contact{
	background:url("../images/contact.jpg");
	background-size: 150%;
	position: absolute;
	top:140px;
	width:100%;
	box-shadow: 35px 10px 5px 0 gray;
}

.contact_form{
	text-align: center;
}

.get_in_touch{
	color:#004080;
	font-size: 40px;
}

.contact_me{
	position: absolute;
	top:700px;
	width:100%;
	color:black;
}


.section1{
	position: absolute;
	top:60px;
	width: 100%;
	box-shadow: 15px 10px 10px 0px gray;
}

.home_picture{
	background-image: url("../images/my_self.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 600px;

	

}

.overlay_home_picture{
	background-color:black;
	opacity: 0.8;
	width: 100%;
	height: 600px;


}

.section_heading{
	color: white;
	font-size: 60px;
	font-family: courier;
	text-align: center;
	line-height: 3em;
}


.fitness_style{
	color:#004080;
	font-size:70px;
	font-family: Trebuchet;
}

.section_heading_text{
	color:white;
	font-size: 30px;
	text-align: center;

}

.align_button{
	text-align: center;
	height:300px;

}

.get_started{
	background-color: #004080;
	color:white;
	border-color:black;
	cursor: pointer;
	width:30%;
	height:20%;
	font-size: 25px;
	transition:all 0.5s;

}

.get_started:hover{
	background-color: white;
	box-shadow: 5px 5px 5px 0px gray;
	color:#004080;
	border-color:white;

}

.section2{
	position: absolute;
	top:780px;
	width:100%;
}

.my_services{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	box-shadow: 9px 9px 9px 0px gray;
}

.my_services_horizontal{
	width:10%;
}

.services1{
	width:50%;
	height:50%;


} 

.gamer_picture{
	width:100%;
	height:100%;
	cursor:pointer;
	transition: all 0.5s;
}

.gamer_picture:hover{
	cursor:pointer;
	width:90%;
	height:90%;
	transition: all 0.5s;

}

.gamer_text{
	background-color: #004080;
	position: absolute;
	top:200px;
	right:10px;
	height:50%;
	width:50%;
	box-shadow: 25px 5px 5px 5px gray;
}

.gamer{
	line-height: 150px;
	color:white;
	font-family: sans-serif;
	font-size: 30px;
}

.section3{
	position: absolute;
	top:1290px;
	width:100%;
}

.services2{
	width:50%;
	height:50%;
}

.developer_picture{
	width:100%;
	height:100%;
	transition:all 0.5s;

}

.developer_picture:hover{
	cursor:pointer;
	width:90%;
	height:90%;
	transition: all 0.5s;


}

.developer_text{
	background-color: #004080;
	position: absolute;
	top:100px;
	right:10px;
	height:50%;
	width:50%;
	box-shadow: 25px 5px 5px 5px gray;

}

.developer{
	line-height: 150px;
	color:white;
	font-size: 30px;
	font-family:sans-serif;
}

.view_more{
	background-color: #004080;
	color:white;
	border-top-color:2px solid #004080;
	border-radius: 50px;
	cursor: pointer;
	width:30%;
	height:20%;
	font-size: 25px;
	transition:all 0.5s;

}

.view_more:hover{
	background-color: white;
	box-shadow: 5px 5px 5px 0px gray;
	color:#004080;
	border-color:white;

}

.section4{
	position: absolute;
	top:1670px;
	width:100%;
}



.about_image{
	border-radius: 50%;
	width:20%;
	height:200px;

}


.follow{
	display: inline;
	padding: 20px 4px;
}

.follow_link{
    color:gray;
	font-size: 20px;
	transition:all 0.5s;
}

.follow_link:hover{
	color:#004080;
	font-size: 23px;
	transition:all 0.5s;

}


.foot{
	
	width:100%;
	background-color:black;
	color:white;
	padding:10px;
	height:30px;
}

.footer1{
	position: absolute;
	top:1780px;
	width:100%;

}

.footer2{
	position: absolute;
	top:700px;
	width:100%;

}

.footer3{
	position: absolute;
	top:1000px;
	width:100%;

}

.copyright{
	text-align: center;
}

.button{
	cursor:pointer;
	background-color: #004080;
	color:white;
	width:300px;
	border-color:#004080;
	border-radius:50px;
	height:40px;
	font-size: 20px;
	transition:all 0.5s;

}

.button:hover{
	background-color: white;
	color:#004080;
	border-color:white;
	box-shadow: 5px 5px 5px 0 #004080;
}

.input_text{
	width:50%;
	
}

.my_hobbies{
	margin-top: -140px;
	width: 200px;

}

.my_education{
	text-align: right;
	margin-top: -120px;
	margin-left: -10px;
	width: 100%;
}

.about_headings{
	color:white;
	font-family: sans-serif;
	font-size: 25px;
	
}

.about_par{
	font-size: 17px;
	color:white;

}